.completed {
    text-decoration: line-through;
    color: grey;
}

.closeBtn:hover {
    cursor: pointer;
}

.itemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}


.closeBtn,
.editBtn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
}

.editBtn {
    color: #007bff;
}